.nav-bar{
  justify-content: space-between;
  background-color: rgb(5, 41, 55);
  display: flex;
  padding: 10px;
  color: white;
}

.brand{
  font-weight: bold;
  text-align: center;
  width: 20%;
  text-decoration: none;
}
.search-bar{
  width: 20%;
  text-align: center;

}

input ::placeholder{
  font-weight: bold;
  padding: 3px;
}
.cart{
  width: 20%;
  text-align: center;
  text-decoration: none;
}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(56, 56, 65);
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  width: 100%;
}

.col-lg-3{
  padding: 5px;
  text-align: center;
}

.col-lg-3 .card{
  padding: 20px;

}
.img{
  display: flex;
  justify-content: center;
  align-items: center;

}
.img img{
  width: 200px;
  height: 200px;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:  4rem;
}
.cardd{
  
  
  margin-left: 150px;
  align-items: center;
}
p{
  color: black;
  font-weight: 700;
  
}
img{
  width: 200px;
  height: 280px;
}

.navbar-wrapper .items{
  cursor: pointer;
}


